.container {
    height: 100vh;
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  6.25rem;
    align-content: center;
}

@media (max-width:1080px){
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px){
    .container {
        max-width: 70%;
        gap: 4rem;
    }

    .container section {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}

@media (max-width: 500px){
    .container {
        max-width: 90%;
        height: auto;
    }
}

.darkModeButton {
    position: absolute;
    right: 16px;
    top: 16px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--text);
    border: none;
    width: 24px;
    height:24px;
}